@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 3rem;
}

.add{
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: lightgreen;
    border-radius: 3px;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.note{
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
    margin: 30px 20px;
    height: 400px;
    width: 400px;
}

.note .tools{
    background-color: lightgreen;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.note textarea{
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100% ;
    padding: 20px;
}

.hidden{
    display: none;
}